@import "~@angular/material/theming";
@import "grid";
@import "breakpoints";

.background {
  background: url("/assets/images/background_darker.svg");
  height: 100vh;
  display: flex;
  flex-flow: column;
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
}

$btns: (
  green: (
    bg: #4caf50,
    fg: white,
    hover: 10%
  ),
  red: (
    bg: #ff0e27,
    fg: white,
    hover: 10%
  ),
  blue: (
    bg: #536dfe,
    fg: white,
    hover: 10%
  ),
  teal: (
    bg: #673ab7,
    fg: white,
    hover: 10%
  )
);
@each $btnName, $colors in $btns {
  button.#{$btnName}-btn[mat-raised-button] {
    color: map-get($map: $colors, $key: fg);
    background-color: map-get($map: $colors, $key: bg);
    &:hover:not([disabled]) {
      background-color: darken(map-get($map: $colors, $key: bg), map-get($map: $colors, $key: hover));
    }
  }
  button.#{$btnName}-btn[mat-button] {
    color: map-get($map: $colors, $key: bg);
    &:hover:not([disabled]) {
      color: darken(map-get($map: $colors, $key: bg), map-get($map: $colors, $key: hover));
      background-color: darken(white, map-get($map: $colors, $key: hover));
    }
  }
}

button.green-btn {
  @extend .green-btn;
}

section[actions] {
  display: flex;
}

.crud-dialog {
  max-width: 100vw !important;
  transition: width 0.3s, height 0.3s;
  .mat-dialog-container {
    padding: 0px;
    will-change: transform, opacity;
  }
}

.hidden {
  display: none;
}

fieldset {
  border: 0;
  border-top: 1px outset;
  margin: 2px;
}

mat-card[thinborder] {
  padding: 10px;
}


[mat-fab].floatDefault,
[mat-flat-button].floatDefault,
eco-fab-speed-dial.floatDefault,
entity-fab-dial.floatDefault {
  position: absolute;
  bottom: 32px;
  right: 32px;
}

div.td-paging-bar{
  padding-right: 55px;
}
