@mixin display-grid {
  display: -ms-grid;
  display: grid;
}

@mixin grid-columns($values) {
  -ms-grid-columns: repeat($values, 1fr);
  grid-template-columns: repeat($values, 1fr);
}

@mixin simple-grid($columns) {
  @include display-grid();
  @include grid-columns($columns);
}

@mixin simple-grid-responsive($columns, $width-breakpoints) {
  @include display-grid();
  @include grid-columns($columns);
  @each $breakpoint, $bColumns in $width-breakpoints {
      @media (max-width: "#{$breakpoint}px") {
          @include grid-columns($bColumns);
      }
  }
}
