@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';
@import '~@covalent/markdown/markdown-theme';

$mat-font-url: '../../../node_modules/@covalent/core/common/styles/font/';

@include mat-core();

$primary: mat-palette($mat-blue, 800, A100, A400);
$accent: mat-palette($mat-indigo, 600, A100, A400);
$warn: mat-palette($mat-red);

@mixin theme($primary, $accent, $warn) {
    $theme: mat-light-theme($primary, $accent, $warn);

    @include angular-material-theme($theme);
    @include covalent-theme($theme);
    @include covalent-markdown-theme($theme);
    @include covalent-core();
    @include covalent-material-icons();
    @include covalent-utilities();
    @include covalent-layout();
    @include covalent-colors();
}
